In [2]:
import pandas as pd
from employee import *

df = pd.read_csv('coffee_history.csv')
df

  Employee Favorite Drink  Salary  Dollars Spent                   Debt
0      Bob          Black   85000             25  (Jeremy,3),(Thomas,6)
1   Jeremy          Mocha  118000             15                    NaN
2  Kaitlyn         Frappe   84000             16                    NaN
3   Thomas     Cappuccino   90000             27                    NaN
4    Sarah      Americano   93000              3               (Ryan,4)
5     Ryan            Tea  104000             45                    NaN
6      Dan           Soda   97000             16                    NaN

In [3]:
coffee_prices = {
    "black": 3.0,
    "mocha":5.0,
    "frappe":5.50,
    "cappuccino":4.50,
    "americano":4.0,
    "tea":3.50,
    "soda":4.25
}

In [4]:
for i in range(len(df)):
    if df.loc[]
    print(i)

SyntaxError: invalid syntax (2344859726.py, line 2)

In [ ]:
min(df.loc[:,"Dollars Spent"])

In [5]:
print(df[df["Dollars Spent"] == min(df.loc[:,"Dollars Spent"])].loc[:,"Employee"].values[0])

Sarah

In [ ]:
df.loc[["Sarah"],"Dollars Spent"]