In [4]:
import pandas as pd
from employee import *

df = pd.read_csv('coffee_history.csv')
df

  Employee Favorite Drink  Salary  Dollars Spent
0      Bob          Black   85000              0
1   Jeremy          Mocha  118000              0
2  Kaitlyn         Frappe   84000              0
3   Thomas     Cappuccino   90000              0
4    Sarah      Americano   93000              0
5     Ryan            Tea  104000              0
6      Dan           Soda   97000              0

In [5]:
coffee_prices = {
    "black": 3.0,
    "mocha":5.0,
    "frappe":5.50,
    "cappuccino":4.50,
    "americano":4.0,
    "tea":3.50,
    "soda":4.25
}